/* VARIABLES DE COLOR */
:root {
    --violeta: rgb(102, 16, 102);
    --naranja-soft: #ffa22c;
    --naranja-strong: #ff6634;
    --fucsia: #eb2492;
    --crema: #f5f3e9;
    --old-pink: #c9a;
    --wine: #724;

    --naranja0: #fa853f;
    --fucsia0: #e92591;
    --white-30: rgba(255,255,255,.3);
    --white-70: rgba(255,255,255,.7); 
    --white-90: rgba(255,255,255,.9); 
    --black-10: rgba(0,0,0,.1); 
    --black-20: rgba(0,0,0,.2); 
    --fucsia-20: rgba(210,0,120,.2);
    --fucsia-50: rgba(210,0,120,.5);
    --violeta-70: rgba(102, 16, 102,.7);
}



/* GLOBALES */
html {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.blinking {
    animation: blink 1s linear infinite;
}

.white-btn {
    border: 2px solid var(--white-70);
    border-radius: 36px;
    padding: 12px;;
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    color: var(--white-90);
    cursor: pointer;
}

.white-btn:active {
    background-color: var(--white-30);
    color: var(--black-10);
}




/* ANIMACIONES */
@keyframes shadow {
    from {filter: drop-shadow(0 9px 7px transparent);}
    to {filter: drop-shadow(0 9px 7px var(--black-20))
                drop-shadow(0 9px 9px var(--black-10));}
}

@keyframes lighten {
    from {filter: drop-shadow(0 -3px 3px transparent);}
    to {filter: drop-shadow(0 -3px 3px var(--white-30));}
}

@keyframes cinema {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    33% {
        opacity: 1;
        transform: scale(1.4);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes planefly {
    0% {
        opacity: 1;
        transform: translate(25px,3px) 
                    rotate(30deg);
    }
    10% {
        transform: translate(36px,19px) 
                    rotate(0deg);
    }
    22% {
        transform: translate(49px,13px) 
                    rotate(-100deg);
    }
    34% {
        transform: translate(35px,4px) 
                rotate(-200deg);
    }
    48% {
        transform: translate(31px,13px) 
                rotate(-290deg);
    }
    60% {
        transform: translate(36px,18px) 
                rotate(-350deg);
    }
    73% {
        transform: translate(80px,11px) 
                rotate(-380deg);
    }
    90% {
        transform: translate(130px,6px) 
                rotate(-350deg);
    }
    100% {
        opacity: 1;
        transform: translate(137px,8px)
        rotate(-345deg);
    }
}

@keyframes appearblinking {
    0% {opacity: 0;}
    20% {opacity: 1; transform: translateY(18px) 
                                rotate(90deg);}
    40% {opacity: 0.3; transform: translateY(0) 
                                    rotate(90deg);}
    60% {opacity: 1; transform: translateY(18px) 
                                    rotate(90deg);}
    80% {opacity: 0.3; transform: translateY(0) 
                                    rotate(90deg);}
    95% {opacity: 1; transform: translateY(18px) 
                                    rotate(90deg);}
    100% {opacity: 0;}
}

@keyframes blink {
    0% {filter: brightness(1);}
    50% {filter: brightness(.8);}
    100% {filter: brightness(1);}
}

@keyframes hand {
    0% {transform: translateX(20px);
        opacity: 1;}
    50% {transform: translateX(-20px)}
    100% {transform: translateX(20px);
        opacity: 1;}
}

/* ANIMACIONES */




/* MAIN */
main {
    height: 550px;
    position: relative;
    display: grid;
    place-items: center;
    background-image: 
        linear-gradient(
            to bottom right, 
            var(--naranja0), 
            var(--fucsia0));
    overflow: hidden;
}

#main-bkg {
    width: 100vw;
    position: absolute;
    opacity: .3;
}

#animation-wrapper {
    position: relative;
    width: 300px;
    height: 180px;
    margin: 50px auto auto;
}

#animation-container {
    position: relative;
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    transform: scale(1.1);
    animation: cinema 1.2s ease forwards 1.2s;
}

#anim-india {
    animation: shadow 1s ease forwards 2.5s;
}

#anim-lotus {
    opacity: 0;
    position: absolute;
    width: 27px;
    left: 26px;
    top: 20px;
    animation: pop .3s linear forwards 2.2s,
               lighten .9s ease forwards 2.7s;
}

#anim-india img {
    opacity: 0;
    height: 70px;
}

#anim-india img:nth-child(1) {
    animation: pop .3s linear forwards;
}

#anim-india img:nth-child(2) {
    animation: pop .3s linear forwards .2s;
}

#anim-india img:nth-child(3) {
    animation: pop .3s linear forwards .4s;
}

#anim-india img:nth-child(4) {
    animation: pop .3s linear forwards .6s;
}

#anim-india img:nth-child(5) {
    animation: pop .3s linear forwards .8s;
}

#animation-container > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

#anim-path {
    opacity: 0;
    transform: translateY(10px);
    width: 108px;
    animation: appear .7s ease-in forwards 1.2s;
}

#anim-entribu {
    font-size: 70px;
    line-height: 70px;
    opacity: 0;
    align-self: flex-end;
    width: 87px;
    animation: lighten .9s ease forwards 2.7s,
                appear .7s ease-in forwards 1.2s;
}

#anim-plane {
    width: 17px;
    position: absolute;
    left: 0;
    top: 63%;
    opacity: 0;
    animation: planefly .9s linear forwards .9s;
}

main > p {
    opacity: 0;
    position: relative;
    font-size: 14px;
    text-align: center;
    width: 300px;
    margin: 30px auto;
    animation: appear .7s ease-in forwards 2.7s;
    color: var(--white-90);
    filter: drop-shadow(1px 1px 1px var(--fucsia))
            drop-shadow(-1px -1px 1px var(--naranja-strong));
}

main > .white-btn {
    opacity: 0;
    margin: 30px auto;
    animation: appear 2s ease forwards 3s;
}

#arrow-splash {
    opacity: 0;
    margin: auto;
    font-size: 30px;
    text-align: center;
    transform: rotate(90deg);
    animation: appearblinking 2s ease forwards 3.6s;
}

/* MAIN */



/* INFO1 */

#info1 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--crema);
    padding: 40px 0 40px;
    box-shadow: 0 0 18px 9px var(--black-20) inset;
}

#info1 > h2 {
    font-size: 30px;
    width: 300px;
    margin: 20px auto;
    font-weight: 900;
    background-image: linear-gradient(
        to top right,
        var(--naranja-strong),
        var(--fucsia));
    background-clip: text;
    color: transparent;
    text-align: center;
}

#info1 > p {
    font-size: 16px;
    padding: 0 50px;
    text-align: left;
    color: var(--wine);
    transition: all .2s linear;
}


/* INFO1 */




/* HERO1 */
#hero1 {
    width: 100vw;
    height: 50vh;
    background-image: url(./img/water.png);
    background-size: cover;
    background-position: top;
    box-shadow: 0 10px 30px 9px var(--black-20) inset;
} 
/* HERO1 */





/* ITINERARIO */
#itinerario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--crema);
    padding: 20px 0 50px;
    box-shadow: 0 0 18px 9px var(--black-20) inset;
}

#itinerario > h2 {
    font-size: 25px;
    font-weight: 900;
    background-image: linear-gradient(
        to top right,
        var(--naranja-strong),
        var(--fucsia));
    background-clip: text;
    color: transparent;
    text-align: center;
}

#itinerario > p {
    font-size: 16px;
    min-height: 270px;
    width: 270px;
    padding: 18px;
    margin: 10px auto;
    border-radius: 7px;
    text-align: right;
    color: var(--wine);
    transition: all .2s linear;
    background-image: 
        linear-gradient(
            60deg,
            rgba(220,200,180,.03),
            rgba(240,220,180,.06));
    
    box-shadow: 
        -9px 9px 70px 1px
        rgba(120,60,10,.03)
        inset,
        9px -9px 70px 1px
        rgba(90,60,30,.03)
        inset;
}

#itinerario > p > strong {
    font-size: 16px;
}

#card-nav {
    position: relative;
    width: 50vw;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#card-nav > span {
    transition: all .3s ease;
    font-size: 16px;
    color: var(--old-pink);
}

#cards-container {
    width: 100vw;
    height: 350px;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x /*mandatory*/;
    scrollbar-width: none;
}

#cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    margin: 5vw;
    margin-top: 9px;
    margin-bottom: 12px;
    scroll-snap-align: inherit;
    border-radius: 21px;
    height: 300px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    border: 1px solid #999;
    box-shadow: 0 3px 9px 3px var(--black-20),
                0 -50px 100px 3px black inset;
}

.card-select, #selected-card, #city-map {
    opacity: 0;
    z-index: -1;
}

.card:nth-of-type(1) {
    background-image: url(./img/cards/delhi.jpg);
    margin-left: 10vw;
}

.card:nth-of-type(2) {
    background-image: url(./img/cards/jaipur.jpg);
    background-size: auto;
}

.card:nth-of-type(3) {
    background-image: url(./img/cards/udaipur.jpg);
}

.card:nth-of-type(4) {
    background-image: url(./img/cards/pushkar.jpg);
}

.card:nth-of-type(5) {
    background-image: url(./img/cards/agra.jpg);
}

.card:nth-of-type(6) {
    background-image: url(./img/cards/lucknow.jpg);
}

.card:nth-of-type(7) {
    background-image: url(./img/cards/varanasi.jpg);
}

.card:nth-of-type(8) {
    background-image: url(./img/cards/rishikesh.jpg);
}

.card:nth-of-type(9) {
    background-image: url(./img/cards/retiro.jpg);
    margin-right: 10vw;
}

.card > span {
    font-size: 18px;
    position: absolute;
    color: var(--white-70);
    filter: drop-shadow(0 0 2px #000)
            drop-shadow(0 0 12px #fff);
    bottom: 18px;
    left: 27px;
}

#scroll-hand {
    font-size: 45px;
    text-align: center;
    color: var(--crema);
    filter: drop-shadow(0 0 2px #000);
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    bottom: 90px;
    margin: auto;
    opacity: 0;
}

.scrolling {
    animation: hand .7s ease-in-out infinite;
}

/* ITINERARIO */





/* INFO2 */
#info2 {
    position: relative;
    display: grid;
    place-items: center;
    padding: 20px;
    background-image: linear-gradient(
        to bottom right,
        var(--violeta),
        var(--fucsia),
        var(--fucsia0));
    box-shadow: 0 0 18px 1px var(--black-20);
}

#info2 > h2 {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    margin-top: 70px;
}

#info2 > h2:after {
    content: 'próxima fecha de salida';
    font-weight: 300;
    position: absolute;
    font-size: 16px;
    width: 300px;
    left: 0;
    right: 0;
    top: -16px;
}

#info2 > h3 {
    font-size: 21px;
}

#info2 li {
    margin: 20px 0;
    font-size: 18px;
}

#info2 h4 {
    padding: 0 20px;
    font-size: 18px;
}

#info2 > p {
    padding: 0 20px;
    font-size: 18px;
}

#info2 > .white-btn {
    margin: 50px auto;
}
/* INFO2 */




/* BIO */

#bio {
    position: relative;
    background-color: var(--crema);
    padding: 40px 0 40px;
    box-shadow: 0 0 18px 9px var(--black-20) inset;
}

#bio > h2 {
    font-size: 30px;
    width: 300px;
    margin: 20px auto;
    font-weight: 900;
    background-image: linear-gradient(
        to top right,
        var(--naranja-strong),
        var(--fucsia));
    background-clip: text;
    color: transparent;
    text-align: center;
}

#bio > div {
    display: grid;
    place-items: center;
    margin: 20px;
}

#bio > div > img {
    width: 270px;
}

#bio > div > h3 {
    color: var(--wine);
    font-size: 21px;
    padding: 0 50px;
}

#bio > div > p {
    font-size: 18px;
    padding: 0 40px;
    text-align: left;
    color: var(--wine);
    transition: all .2s linear;
}

/* BIO */




/* HERO2 */

#hero2 {
    width: 100vw;
    height: 500px;
    background-image: url(./img/night.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 30px 9px var(--black-20) inset;
} 

/* HERO2 */



/* CUENTA REGRESIVA */

#cuenta-regresiva {
    position: relative;
    display: grid;
    align-items: center;
    background-image: 
        linear-gradient(
            to bottom right, 
            var(--fucsia), 
            var(--violeta));
}

#cuenta-regresiva > h2 {
    font-size: 45px;
    margin-top: 50px;
}

#fechas > span {
    font-size: 40px;
    text-align: center;
}

#countdown-wrapper {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown-wrapper > h3 {
    font-size: 36px;
    margin: 50px auto;
}

#countdown {
    display: grid;
    grid-template-columns: 28% 24% 24% 24%;
    width: 300px;
    margin: 0;
    transition: all .1s linear;
}

#countdown > h3 {
    display: inline-block;
    font-family: monospace;
    font-size: 40px;
    position: relative;
    text-align: center;
}

#countdown > h3:nth-of-type(2):after,
#countdown > h3:nth-of-type(3):after {
    content: ':';
    position: absolute;
    left: 60px;
}

#countdown > h3 > span {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    text-align: center;
    font-size: 16px;
}

#cd-animation {
    height: 10px;
    width: 220px;
    border: transparent;
    border-top: 1px #fff dashed;
    position: relative;
    margin: 80px auto 60px;
}

#cd-animation > i {
    position: absolute;
    font-size: 30px;
    left: -30px;
    bottom: 0;
}

#cd-plane {
    transition: all 1s linear;
    position: absolute;
    width: 40px;
    left: 0;
    bottom: -9px;
    filter: drop-shadow(0 9px 1px var(--black-20));
}

#cd-animation > img:last-of-type {
    position: absolute;
    width: 50px;
    right: -60px;
    bottom: 0;
}

#cuenta-regresiva > .white-btn {
    margin: 20px auto 50px;
}

/* CUENTA REGRESIVA */



/* FOOTER */

footer {
    font-size: 16px;
    background-color: var(--violeta);
    display: grid;
    place-items: center;
    padding: 20px 0;
}

#footer-icons {
    font-size: 30px;
    margin-bottom: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/* FOOTER */



/* MODAL CONTACTO */

#contact-modal {
    opacity: 0;
    z-index: -1;
    transition: all .3s linear;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: 
        linear-gradient(
            to top right,
            var(--fucsia),
            var(--violeta)
        );
}

#contact-modal > img {
    position: absolute;
    top: 0;
    height: 100lvh;
    opacity: .3;
}

#form-container {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--violeta-70);
    border: 1px solid var(--white-30);
    border-radius: 9px;
}

#form-cross {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
}

#form-title {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin: 30px;
}

#form-title > strong {
    font-size: 30px;
    font-weight: 700;
}

label {
    color: var(--white-90);
    font-weight: 500;
    font-size: 14px;
    margin-left: 30px;
}

.form-field {
    background-color: var(--black-10);
    outline: 1px solid transparent;
    border: none;
    border-radius: 3px;
    width: 230px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    margin-top: 3px;
    padding-left: 7px;
    transition: all .3s linear;
}

.form-field:focus {
    outline-color: var(--black-20);
}

.form-field:valid {
    outline: 1px solid olivedrab;
}

input {
    display: block;
    margin: 18px auto;
}

#submit {
    margin: 30px auto;
    padding: 18px;
    width: 160px;
    border-radius: 40px;
    border: 2px solid rgba(250,200,225,.5);
    background-image: 
        linear-gradient(
            to right,
            var(--fucsia0),
            var(--violeta)
        );
    color: var(--white-90);
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

#submit:active {
    background-image: linear-gradient(to right, var(--naranja-strong), var(--fucsia));
}

#form-msg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 9px;
    text-align: center;
    color: var(--white-90);
    transition: opacity .3s linear;
    font-size: 14px;
    opacity: 0;
}

/* MODAL CONTACTO */



/* MEDIA QUERIES */


/* TABLETS */
@media only screen and (min-width: 768px)
                    and (max-width: 1024px)
                     and (orientation: portrait) {

    main > p {
        font-size: 18px;
    }

    .white-btn {
        font-size: 27px;
        font-weight: 700;
        width: 210px;
    }

    #info1 {
        padding-bottom: 50px;
    }

    #info1 > h2 {
        width: 700px;
    }

    #itinerario > p {
        width: 500px;
        font-size: 16px;
    }

    #bio > div > img {
        width: 400px;
    }

    #bio > div > h3 {
        font-size: 30px;
    }

    #bio > div > p {
        width: 500px;
    }

    #countdown > h3 {
        margin-top: 0;
        margin-bottom: 0;
    }

    #cuenta-regresiva::after {
        content: '';
        opacity: 1;
        background-image: url(./img/mandala.png);
        background-position: right;
        background-size: cover;
        height: 100%;
        width: 200px;
        position: absolute;
        left: 0;
    }

    #cuenta-regresiva::before {
        content: '';
        opacity: 1;
        background-image: url(./img/mandala.png);
        background-position: left;
        background-size: cover;
        height: 100%;
        width: 200px;
        position: absolute;
        right: 0;
    }

    .card:nth-of-type(1) {
        margin-left: calc((100vw - 500px) / 2) ;
    }

    .card:nth-of-type(8) {
        margin-right: calc((100vw - 500px) / 2) ;
    }

    #info2 {
        padding: 20px 70px;
    }

    #info2 > h2 {
        font-size: 45px;
    }

    #contact-modal > img {
        width: 100vw;
        height: auto;
    }

    #form-container {
        transform: scale(1.2);
    }
    
}


/* DESKTOP */
@media only screen and (min-width: 1024px) {

    .white-btn {
        font-size: 36px;
        font-weight: 700;
        width: 300px;
        transition: all .5s ease;
    }

    .white-btn:hover {
        transform: scale(1.2);
        box-shadow: 0 7px 12px 7px var(--black-20);
        background-color: var(--white-30);
        color: #fff;
    }

    /* MAIN */
    main {
        height: 700px;
    }
    
    #animation-wrapper {
        transform: scale(1.6);
        height: 360px;
        top: 100px;
    }

    main > #arrow-splash {
        opacity: 0;
        z-index: -1;
        animation: none;
    }

    main > p {
        font-size: 21px;
        width: auto;
    }
    
    main > .white-btn {
        margin: auto;
    }



    /* INFO1 */

    #info1 {
        padding: 150px;
        display: grid;
        place-items: center;
        position: relative;
        overflow: hidden;
    }

    #info1::before {
        content: '';
        opacity: .3;
        background-image: url(./img/mandala.png);
        background-position: right;
        background-size: contain;
        height: 100%;
        width: 25%;
        position: absolute;
        left: -10%;
        top: 0;
    }

    #info1::after {
        content: '';
        opacity: .3;
        background-image: url(./img/mandala.png);
        background-position: left;
        background-size: contain;
        height: 100%;
        width: 25%;
        position: absolute;
        right: -10%;
        top: 0;
    }

    #info1 > h2 {
        width: 40vw;
        font-size: 45px;
    }

    #info1 > p {
        max-width: 40vw;
        font-size: 21px;
    }

    #info1 > strong {
        font-size: 25px;
        width: auto;
    }


    /* HERO1 */

    #hero1 {
        background-image: url(./img/cards/rishikesh.jpg);
        background-position: 50% 45%;
        opacity: .7;
    }


    /* ITINERARIO */

    #itinerario {
        padding: 100px 0;
    }

    #itinerario > h2 {
        font-size: 45px;
    }

    #itinerario > p {
        position: absolute;
        top: 300px;
        right: 5vw;
        font-size: 18px;
        line-height: 21px;
        font-weight: 300;
        height: 200px;
        width: 400px;
        padding: 25px;
        border-radius: 30px;
    }

    #city-map {
        opacity: 1;
        z-index: 1;
        background-image: url(./img/maps/Delhi.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px;
        width: 350px;
        position: absolute;
        right: 6vw;
        bottom: 180px;
        transform: translateX(-9px);
        transition: all .5s ease;
    }

    #city-map:hover {
        transform: translate(-9px,-9px) scale(1.1);
    }

    #itinerario > p > strong {
        font-size: 21px;
    }

    #cards-container {
        position: relative;

        display: grid;
        width: calc(83vw - 400px);
        height: 80lvh;
        margin-left: 5vw;
        border-radius: 18px;
        overflow: visible;

        grid-auto-flow: none;
        overscroll-behavior-x: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
    }

    .card {
        border: none;
        width: 90%;
        height: 90%;
        margin: 0;
        opacity: .7;
        transition: all .5s ease;
    }

    .card-select {
        transition: all .5s ease;
        position: absolute;
        margin: auto;
        width: 90%;
        height: 90%;
        cursor: pointer;
    }

    #selected-card {
        position: absolute;
        left: 5vw;
        top: 300px;
        width: calc(83vw - 400px);
        height: 80lvh;
        border-radius: 27px;
        background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--black-20);
        transition: all .3s linear;
    }

    #selected-card > span {
        font-size: 40px;
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
        filter: drop-shadow(0 0 1px #000);
    }

    .card:hover > .card-select {
        opacity: 1;
        z-index: 1;
    }

    .card:hover {
        opacity: 1;
        width: 105%;
        height: 105%;
        z-index: 1;
    }

    .card:first-of-type, .card:last-of-type {
        margin: 0;
    }

    #scroll-hand, #card-nav {
        animation: none;
        opacity: 0;
        z-index: -1;
    }


    /* INFO2 */

    #info2 {
        place-items: start;
        padding: 50px 10vw;
    }

    #info2::after {
        content: '';
        width: 40vw;
        height: 90vh;
        position: absolute;
        right: 7vw;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url(./img/colgante.png);
        background-size: cover;
        opacity: .2;
        filter: brightness(0);
    }

    #info2 > h2 {
        font-size: 70px;
    }

    #info2 > p, #info2 > h4, #info2 > ul > li {
        font-size: 21px;
    }

    /* BIO */

    #bio > h2 {
        font-size: 45px;
        width: 500px;
        margin: 100px auto;
    }

    #bio > div {
        border: 3px solid var(--violeta-70);
        min-width: 900px;
        max-width: 70vw;
        margin: 50px auto;
        border-radius: 50px;
        display: flex;
        padding: 0px 10px;
        position: relative;
        background-color: var(--fucsia-20);
    }

    #bio > div > img {
        width: 500px;
    }

    #bio > div > h3 {
        margin: 0;
        position: absolute;
        font-size: 36px;
        filter:
            drop-shadow(3px 3px 1px var(--naranja-soft))
            drop-shadow(-3px 3px 1px var(--fucsia-50));
        bottom: 7vh;
        background-color: var(--white-30);
        border-radius: 9px;
    }

    #lu-bio > h3 {
        left: 5%;
    }

    #flor-bio > h3 {
        right: 5%;
    }

    #bio > div > p {
        font-size: 18px;
    }

    #flor-bio {
        flex-direction: row-reverse;
    }

    /* CUENTA REGRESIVA */
    #countdown-wrapper > h3 {
        font-size: 45px;
    }

    #countdown {
        transform: scale(1.6);
    }

    #cd-animation {
        transform: scale(1.2);
    }

    #cuenta-regresiva {
        overflow: hidden;
    }

    #cuenta-regresiva > .white-btn {
        width: 350px;
        height: 100px;
    }

    #cuenta-regresiva::after {
        content: '';
        opacity: 1;
        background-image: url(./img/mandala.png);
        background-position: right;
        background-size: cover;
        height: 100%;
        width: 200px;
        position: absolute;
        left: 0;
    }

    #cuenta-regresiva::before {
        content: '';
        opacity: 1;
        background-image: url(./img/mandala.png);
        background-position: left;
        background-size: cover;
        height: 100%;
        width: 200px;
        position: absolute;
        right: 0;
    }


    /* FOOTER */

    #footer-icons {
        font-size: 40px;
        width: 200px;
    }

    #footer-icons > a {
        transition: all .2s ease;
        filter: drop-shadow(0 0 0 transparent);
    }

    #footer-icons > a:hover {
        filter: drop-shadow(0 0 3px var(--white-70));
        transform: scale(1.2);
    }

    /* MODAL CONTACTO */
    #contact-modal {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #contact-modal > img {
        position: relative;
        height: 80vh;
        opacity: 1;
        filter: contrast(1.2) saturate(1.2);
        border: 2px solid var(--white-70);
        border-radius: 30px;
    }

    #form-container {
        position: relative;
        height: 80vh;
        width: 500px;
        border-radius: 30px;
        border-width: 2px;
    }
/*  copy   */
    #form-cross {
        font-size: 50px;
        top: 30px;
        right: 60px;
    }
    
    #form-title {
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    label {
        font-size: 18px;
        margin-left: 3px;
    }
    
    .form-field {
        border-radius: 7px;
        width: 400px;
        height: 50px;
        line-height: 30px;
        font-size: 30px;
        font-weight: 300;
        padding-left: 9px;
        margin-bottom: 50px;
    }
    
    .form-field:focus {
        outline-color: var(--black-20);
    }
    
    .form-field:valid {
        outline: 1px solid olivedrab;
    }
    
    #submit {
        margin: 50px auto;
        width: 200px;
        border-radius: 40px;
        border: 2px solid rgba(250,200,225,.5);
        background-image: 
            linear-gradient(
                to right,
                var(--fucsia0),
                var(--violeta)
            );
        color: var(--white-90);
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
    }

}
