:root {
    --naranja: #fa853f;
    --fucsia: #e92591;
    --white-70: rgba(255,255,255,.7); 
    --white-90: rgba(255,255,255,.9); 
    --black-10: rgba(0,0,0,.1); 
    --black-20: rgba(0,0,0,.2); 
    --fucsia-20: rgba(210,0,120,.2);
    --fucsia-50: rgba(210,0,120,.5);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, var(--naranja), var(--fucsia));
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    display: grid;
    place-items: center;
}

#animation-container {
    position: relative;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    transform: scale(1.1);
    animation: cinema 1.2s ease forwards 1.2s;
}

@keyframes cinema {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#anim-lotus {
    opacity: 0;
    position: absolute;
    width: 75px;
    left: 9px;
    top: 162px;
    animation: pop .3s linear forwards 1.8s;
}

#anim-entribu {
    align-self: flex-end;
    width: 250px;
}

#anim-india img {
    opacity: 0;
    height: 200px;
}

#anim-india img:nth-child(1) {
    animation: pop .2s linear forwards;
}

#anim-india img:nth-child(2) {
    animation: pop .2s linear forwards .2s;
}

#anim-india img:nth-child(3) {
    animation: pop .2s linear forwards .4s;
}

#anim-india img:nth-child(4) {
    animation: pop .2s linear forwards .6s;
}

#anim-india img:nth-child(5) {
    animation: pop .2s linear forwards .8s;
}

#animation-container > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

#anim-path {
    opacity: 0;
    transform: translate(-25px,30px);
    width: 310px;
    animation: appear .7s ease-in forwards 1.2s;
}

#anim-entribu {
    font-size: 70px;
    line-height: 70px;
    opacity: 0;
    animation: appear .7s ease-in forwards 1.2s;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

#anim-plane {
    width: 50px;
    position: absolute;
    left: 0;
    top: 63%;
    opacity: 0;
    animation: planefly .9s linear forwards .9s;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    33% {
        opacity: 1;
        transform: scale(1.4);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes planefly {
    0% {
        opacity: 1;
        transform: translate(0)
                    rotate(20deg);
    }
    10% {
        transform: translate(50px,30px)
        rotate(0deg);
    }
    22% {
        transform: translate(110px,-10px)
        rotate(-90deg);
    }
    34% {
        transform: translate(60px,-40px)
        rotate(-180deg);
    }
    46% {
        transform: translate(30px,-10px)
        rotate(-270deg);
    }
    58% {
        transform: translate(50px,50px)
        rotate(-360deg);
    }
    70% {
        transform: translate(150px,27px)
        rotate(-380deg);
    }
    80% {
        transform: translate(220px,-15px)
        rotate(-365deg);
    }
    100% {
        opacity: 1;
        transform: translate(330px,-8px)
        rotate(-355deg);
    }
}

#form-container {
    position: relative;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fucsia-20);
    border: 1px solid var(--white-70);
    border-radius: 9px;
    margin: 50px auto;
}

#form-title {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin: 50px auto;
}

label {
    color: var(--white-70);
    font-size: 12px;
    margin-left: 3px;
}

.form-field {
    background-color: var(--black-10);
    outline: 1px solid transparent;
    border: none;
    border-radius: 3px;
    width: 230px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    margin-top: 3px;
    padding-left: 7px;
    transition: all .3s linear;
}

.form-field:focus {
    outline-color: var(--black-20);
}

.form-field:valid {
    outline: 1px solid olivedrab;
}

input {
    display: block;
    margin: 18px auto;
}

#submit {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    height: 50px;
    width: 180px;
    border-radius: 90px;
    border: 2px solid rgba(250,200,225,.5);
    background-image: linear-gradient(to right, var(--fucsia), var(--naranja));
    color: var(--white-90);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

#submit:active {
    background-image: linear-gradient(var(--black-10), var(--black-20));
}

#form-msg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 9px;
    text-align: center;
    color: var(--white-90);
    transition: opacity .3s linear;
    font-size: 14px;
    opacity: 0;
}

.blinking {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {filter: brightness(1);}
    50% {filter: brightness(.8);}
    100% {filter: brightness(1);}
}


@media only screen and (min-width: 768px) {
    
}